.about-main {
  width: 80%;
  font-family: "Open sans";
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
}

.about-hero {
  width: 90%;
  margin: 20px 5%;
  display: flex;
  flex-direction: row;
}
.about-image-wapper {
  width: 60%;
}

.about-image {
  max-width: 100%;
  height: 430px;
  margin-bottom: 56px;
}
.about-text-container {
  width: 40%;
  margin-left: 25px;
  line-height: 1.6;
  font-weight: 300;
}
.about-sub-title {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
.about-text-container > h1 {
  font-size: 34px;
  font-weight: 400;
  margin: 15px 0;
  line-height: 1.4;
}
.about-text-container > p {
  font-size: 18px;
  font-weight: 300;
}

.about-expect {
  width: 90%;
  margin: 0 5%;
}

.about-expect-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-expect-image {
  border-radius: 50%;
  max-width: 220px;
}

.about-expect-main {
  margin: 40px 0;
  font-size: 54px;
  font-weight: 300;
  text-align: center;
}

.about-expect-main-text {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 35px;
}

.about-expo-features-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-expo-feature-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: flex-start;
  width: 31%;
  margin: 0 1%;
  text-align: center;
}

.about-expo-feature-box > a {
  text-decoration: none;
  color: $primary-color;
  font-weight: 300;
}

.about-expo-feature-image {
  max-height: 250px;
  margin: 20px;
}

.about-expect-image {
  max-height: 180px;
  margin: 20px;
}

.about-expo-feature-box > a h1 {
  font-size: 26px;
  color: $primary-color;
  font-weight: 400;
}

.about-experience {
  width: 100%;
}

.about-exper-title {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.about-exper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.about-exper-box {
  width: 44%;
  margin: 50px 3%;
}

.about-exper-image {
  max-width: 100%;
  margin-bottom: 20px;
}

.about-exper-box > h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.about-exper-box > p {
  font-size: 16px;
  color: #333;
}

.about-exper-quote-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-exper-quote {
  font-size: 34px;
  font-style: italic;
  columns: #333;
  margin: 30px 0;
  font-weight: 400;
  line-height: 1.1;
}

.quote-person {
  margin-bottom: 30px;
}

.seperator-div {
  width: 15%;
  border: $primary-color solid 1px;
  margin: 20px 0;
}

.video-clips {
  width: 94%;
  margin: 20px 3%;
}
.video-clips-title {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.video-clips-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.video-clip-box {
  width: 90%;
  margin: 10px 5%;
}

.video-clip-image {
  max-width: 100%;
  margin-bottom: 10px;
}
.video-clip-box > a {
  text-decoration: none;
  color: #333;
  width: 100%;
}

.video-clip-box > h2 {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  color: black;
}
