.coursetime-container {
}

.time-container {
  width: 60vw;
  height: 60px;
  margin-left: 20%;
  font-family: "Opens sans";
  margin-bottom: 20px;
  border-top: solid 1px #53565a;
  border-bottom: solid 1px #53565a;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.time-block {
  margin: 10px 0;
  display: inline;
  font-family: "Opens sans";
  font-weight: 300;
  color: #53565a;
  font-size: 24px;
  padding-left: 6px;
  padding-right: 20px;
}

.session-type {
  display: inline;
  font-size: 24px;
  padding-left: 6px;
  font-weight: 400;
}
