.courses-main-wrapper {
  width: 100%;
}

.course-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.courses-header {
  font-size: 54px;
  text-align: center;
  width: 80%;
  margin: 5px 10% 30px 10%;
  font-weight: 300;
  font-family: "Open sans";
}

.sub-change {
  font-family: "Open sans";
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 60px;
  text-align: center;
  color: black;
}

.day-box-container {
  height: 150px;
  width: 70%;
  margin: 0 15%;
  text-align: center;
  display: grid;
  grid-template-areas:
    "dayT dayF dayS"
    "dayth dayfr daysa";
  grid-template-columns: (3 1fr);
}

.dayT {
  grid-area: dayT;
}
.dayF {
  grid-area: dayF;
}
.dayS {
  grid-area: dayS;
}
.dayth {
  grid-area: dayth;
}
.dayfr {
  grid-area: dayfr;
}
.daysa {
  grid-area: daysa;
}

.day-box {
  border: 1px solid $primary-color;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.day-letter-holder {
  font-family: "Open sans";
  font-weight: 300;
  text-align: center;
  height: 40%;
  width: 33%;
  font-size: 36px;
  padding: auto;
}

.day-name-holder {
  font-family: "Open sans";
  text-align: center;
  height: 30%;
  width: 33%;
  font-size: 24px;
}

.filterable-schedule-container {
  width: 100%;
}

.schedule-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  // margin: 10px 5% 0 5%;
}
.schedule-filters-container {
  width: 20%;
  height: 750;
  padding-right: 1%;
}

.schedule-filter {
  margin-bottom: 30px;
  min-height: 100px;
  border: solid 1px $primary-color;
  text-align: center;
  padding-top: 15px;
  font-family: "Open sans";
}

.sf-header {
  line-height: 1.5;
  margin: 25px 0 10px 0;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.course-schedule-container {
  width: 60%;
  color: #333;
}

.dot-symbol {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.selected-key {
  color: #333;
  margin: 10px 0 10px 0;
}

.arrow-up {
  color: #333;
  margin: 10px 0 20px 0;
  font-weight: bold;
}

.grey{
  background-color: #d0d3d4;
}
.blue{
  background-color: #34a2bc;
}
.green{
  background-color: #44883e;
}
.magenta{
  background-color: #ac145a;
}
.blended{
  background-color: #53565a  
}

.selector-holder{
  min-height: 50px;
  border: solid 1px black;
  font-family: 'Open sans';
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.circle-selector{
  margin: 0 0 0 15px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
}

.selector-name{
  float: right;
  width:200px;
  padding-left: 10px; 
   text-align: left;
}
