.courses-main-wrapper {
  width: 100%;
}

.course-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.courses-header {
  font-size: 54px;
  text-align: center;
  width: 80%;
  margin: 30px 10% 35px 10%;
  font-weight: 300;
  font-family: "Open sans";
}

.sub-change {
  font-family: "Open sans";
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 60px;
  text-align: center;
  color: black;
}

.general-day-box-container {
  height: 200px;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.day-box {
  border: 1px solid $primary-color;
  height: 120px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.day-letter-holder {
  font-family: "Open sans";
  font-weight: 300;
  text-align: center;
  height: 40%;
  font-size: 36px;
  padding: auto;
}

.day-name-holder {
  font-family: "Open sans";
  text-align: center;
  font-weight: bold;
  height: 30%;
  font-size: 18px;
}

.filterable-schedule-container {
  margin-top: 50px;
  width: 100%;
}

.schedule-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 10px 10% 0 10%;
}
.schedule-filters-container {
  width: 25%;
  height: 750;
  padding-right: 1%;
}

.schedule-filter {
  margin-bottom: 30px;
  min-height: 100px;
  border: solid 1px $primary-color;
  text-align: center;
  padding-top: 15px;
  font-family: "Open sans";
}

.sf-header {
  line-height: 1.5;
  margin: 25px 0 10px 0;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.all-key{
  margin-top: 10px;
}

.dot-symbol-holder {
  margin: 10px 41% 0 41%;
}

.course-schedule-container {
  width: 75%;
  color: #333;
}

.schedule-dot-symbol {
  width: 23px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.filter-passdot{
  margin-left: 15px;
  width: 22px;
}

.selected-key {
  color: #333;
  margin: 10px 0 10px 0;
}

.arrow-up {
  color: #333;
  width: 15px;
  margin: 15px 0 20px 45%;
  font-weight: bold;

  .arrow-line{
    width: 15px;
    height: 1.5px;
    margin: 0 40% 3px 0;
    background: #333;
    @include easeOut;

    &:nth-child(1){
      transform: rotate(45deg)
      translate(1px, -1px);
    }
    &:nth-child(2){
      transform: rotate(135deg)
      translate(-10px, -3px);
    }
  }

  &.close{
    transform: rotate(180deg);
    transform-origin:center;
  }
}

.selector-holder {
  min-height: 50px;
  // border: solid 1px black;
  font-family: "Open sans";
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.circle-selector {
  margin: 0 0 0 15px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
}

.selector-name {
  float: right;
  width: 200px;
  padding-left: 10px;
  text-align: left;
}

.exp-level{
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 300;
}

.exp-lvl-title{
  margin-left: 15px;
}

