.courses-main-wrapper{
  width: 100%;
}

.course-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.courses-header {
  font-size: 60px;
  text-align: center;
  width: 80%;
  margin: 5px 10% 20px 10%;
  font-weight: 300;
  font-family: "Open sans";
}

.day-box-container {
  height: 150px;
  width: 70%;
  margin: 0 15%;
  text-align: center;
  display: grid;
  grid-template-areas:
    "dayT dayF dayS"
    "dayth dayfr daysa";
  grid-template-columns: (3 1fr);
}

.dayT {
  grid-area: dayT;
}
.dayF {
  grid-area: dayF;
}
.dayS {
  grid-area: dayS;
}
.dayth {
  grid-area: dayth;
}
.dayfr {
  grid-area: dayfr;
}
.daysa {
  grid-area: daysa;
}

.day-box {
  border: 1px solid $primary-color;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.day-letter-holder {
  font-family: "Open sans";
  font-weight: 300;
  text-align: center;
  height: 40%;
  width: 33%;
  font-size: 36px;
  padding: auto;
}

.day-name-holder {
  font-family: "Open sans";
  text-align: center;
  height: 30%;
  width: 33%;
  font-size: 24px;
}


.schedule-container{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: 80%;
  margin: 10px 5% 0 15%;
  
}
.schedule-filters-container{
  max-width: 20%;
  height: 750;
  padding-right: 5%;
}

.schedule-filter{
  margin-bottom: 30px;
  max-width: 200px;
  height: 100px;
  border: solid 1px $primary-color;
  text-align: center;
  
}

.sf-header{
  font-family: 'Open sans';
  line-height: 1.5;
  margin-top:14px;
  font-weight: bold;
  font-size: 22px;

}

