.coursetime-container {
  width:100%;

}

.time-container {
  width: 98%;
  height: 60px;
  margin-left: 1%;
  font-family: "Opens sans";
  margin-bottom: 20px;
  border-top: solid 1px $primary-color;
  border-bottom: solid 1px $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.time-block {
  margin: 10px 0;
  display: inline;
  font-family: "Opens sans";
  font-weight: 300;
  color: $primary-color;
  font-size: 22px;
  padding-left: 6px;
  padding-right: 20px;
}

.session-type {
  display: inline;
  font-size: 22px;
  padding-left: 6px;
  font-weight: 400;
}
