//Home page component styling

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.landing-hero {
  margin: 1% 0 50px 0;
  width: 70vw;
  height: 700px;
  background:linear-gradient(
    rgba(61, 33, 33, 0.2),
    rgba(61, 33, 33, 0.9)),
     url("../images/hero.jpg");
  background-repeat: none;
  background-size: cover;
  text-align: center;
  font-family: "Open sans";
  font-weight: 300;
}

.overlay-promo {
  font-size: 54px;
  margin-top: 400px;
  margin-bottom: 20px;
}

.overlay-promo-subtitle {
  font-size: 22px;
}
.land-prepare {
  width: 100vw;
  color: #333;

}

.prep-title {
  width: 100%;
  margin: 20px 0 40px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 300;

}
.prep-boxes-container{
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  font-family: "Open sans";
}
.prep-box{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-bottom: 70px;
}


.prep-images{
  width: 300px;
}

.prep-text{
  width: 300px;
  font-size: 16px;
  font-weight: 300;
}

.prep-box h2{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  font-style: italic;
}

.save-the-date-container{
  width: 90vw;
  margin-top: 50px;
  display:flex;
  flex-direction: row;
 }

.save-date-img{
  height: 365px;
}

.save-the-date-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
  padding: 20px;
}

.save-date{
  font-family: 'Opens sans';
  font-weight: bold;
  color:#333;
  font-size: 16px;
  margin: 20px;
}

.save-date>h2{
  font-size: 34px;
  font-weight: 400;
  color: black;
}

.save-date>p{
  line-height: 1.6;
  font-size: 16px;
  color: black;
}
