.lab-main{
    font-family: 'Open sans';
    margin: 0 33vw 40px 33vw;
    width: 34vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    
}
.lab-header{
    text-align: center;
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 80px;
    margin-top: 35px;


}

.lab-image{
    width: 34vw;
    margin-bottom: 50px;
    
}

p{
    line-height: 1.8;
    font-size: 18px;
    font-weight: 300;
}