@media (min-width: 276px) {
  .company-container {
    margin-left: 10px;
    height: 50%;
    width: 5%;
  }

  .c-logo {
    width: 20%;
    height: 70%;
    padding: 10px 0 0 5%;
  }
}
@media (min-width: 576px) {
  .company-container {
    margin-left: 20px;
    height: 50%;
    width: 10%;
  }

  .c-logo {
    width: 25%;
    height: 80%;
    padding: 10px 0 0 5%;
  }
}

@media (min-width: 768px) {
  .company-container {
    margin-left: 20px;
    height: 50%;
    width: 10%;
  }

  .c-logo {
    width: 25%;
    height: 80%;
    padding: 10px 0 0 5%;
  }
}

@media (min-width: 992px) {
  .company-container {
    margin-left: 20px;
    height: 50%;
    width: 10%;
  }

  .c-logo {
    width: 25%;
    height: 80%;
    padding: 10px 0 0 5%;
  } 
}

@media (min-width: 1200px) {
 
}
