@media (min-width: 276px) {
  .featured-header {
    font-size: 24px;
  }

  .featured-image {
    width: 200px;
    margin: 0;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .featured-header {
    font-size: 38px;
  }

  .featured-image {
    width: 200px;
    margin: 10px;
  }
}
