.navbar {
  width: 100%;
  height: 65px;
  background-image: url(../images/header-bg.gif);
  font-family: "Open Sans", Zoram, "noto sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
//Company Stuff
.company-container {
  margin-top: 40px;
  margin-left: 15%;
  height: 85%;
  width: 15%;
  display: flex;
  flex-direction: row;
}

.c-logo {
  width: 50%;
  height: 100%;

  padding: 20px 0 0 80px;
}

//Menu button

.menu-box {
  position: absolute;
  z-index: 3;
  right: 5%;
  top: 20px;
  height: 60px;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
  font-weight: 300;
}

.header-date {
  height: 60px;
  font-size: 18px;
  margin-right: 15px;
}

.menu-items-holder {
  width: 30%;
  height: 60px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.menu-word {
  width: 60px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}

.menu-btn {
  margin-top: 7px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 15px;
    height: 1.5px;
    margin: 0 0 3px 0;
    background: #fff;
    @include easeOut;
  }
}

.navbar > section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  margin: 0 auto;
}

nav {
  display: none;
  justify-content: space-evenly;
  width: 300px;
}
li {
  list-style: none;
  font-size: 15px;
}

.dropdown {
  position: fixed;
  width: 100%;
  top: 65px;
  left: 0;
  font-family: 'Open sans';
  border: solid 1px rgb(197, 193, 193);
  z-index: 100;
  background-color: #fff;
  color:#8d003f;
  height: 0;
  overflow: hidden;
 @include easeOut;
}

.dropDownShow {
  height: 400px;
}

.navbar-header-links{
    width: 70%;
    height: 60px;
    margin: 0px 15%;
    padding-top: 30px;
    line-height: 32px;
    font-weight: 300;
    border-bottom: 1px solid rgb(197, 193, 193);

}

.navbar-header-links>ul>li{

    font-size:20px;
}

.navbar-body-wrapper{
    font-size: 18px;
}

.navbar-column-header-wrapper{
    width: 70%;
    margin: 20px 15%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #333;
    justify-content:space-around;
    align-items: center;
}
.navbar-column-title{
    width: 18%;
    margin: 0 1%;
    text-align: left;
}

.navbar-column-link-wrapper{
    width: 70%;
    margin: 20px 15%;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    color: #8d003f;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.navbar-column-link-box{
    width: 18%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: flex-start;

}

.navbar-column-link{
    text-align: left;
    font-size: 16px;
    margin: 5px 0;
}

ul {
  font-size: 90%;
  font-weight: 400;
  margin-top: 50px;
  padding: 0.75em 0;
  letter-spacing: 1px;
  
}

ul > li {
  margin: 20px 10px;
}
