.sch-container {
  width: 60%;
  float: right;
  margin-right: 10%;
  font-family: "Open Sans";
  color: #53565a;
}
.session-title {
  font-size: 18px;
  font-weight: 700;
}

.session-speaker {
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
}
.session-summary {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 300;
}
.session-meta-item {
  font-weight: 300;
  font-size: 18px;
}
.session-meta-item-label {
  font-weight: 700;
  font-size: 18px;
}
