.sch-add-container {
  width: 80%;
  margin-left: 15%;
  font-family: "Open Sans";
  color: #333;
}
.sa-session-title {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.sa-session-speaker {
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  color: #333;
}
.sa-session-summary {
  margin: 20px 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
}
.sa-session-meta-item {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
}
.sa-session-meta-item-label {
  font-weight: 400;
  font-size: 12px;
}

.Collapsible__trigger {
  max-width: 95%;
  font-size: 14px;
  font-weight: 400;
}
