@import "reset";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

@import "config";
@import "Header";
@import "Navbar";
@import "Home";
@import "Schedule";
@import "Courses";
@import "Speakers";
@import "Featured";
@import "Speakerbio";
@import "Coursetime";
@import "Labs";
@import "Registration";
@import "Profile";
@import "Faq";
@import "Expohall";
@import "Overview";
@import "Events";
@import "About";
@import "Myschedule";
@import 'Scheduleadd';
@import 'Schedulechoicetime';
@import 'Schedulechoice';

.header-spacer {
  height: 100px;
  width: 100%;
}
.body-spacing{
  min-height: calc(100vh - 100px - 300px )
}

.footer-spacer {
  overflow: auto;
  padding-bottom: 1px;
}

@import "footer";

@import "Media";
