@import "reset";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

@import "config";
@import "Header";
@import "Home";
@import "Schedule";
@import "Courses";
@import "Speakers";
@import "Featured";
@import "Speakerbio";
@import "Coursetime";
@import "Labs";
@import "Registration";
@import "Faq";
@import "Expohall";
@import "Overview";
@import "Events";
@import "About";

.header-spacer {
  height: 100px;
  width: 100%;
}

.footer-spacer{
  overflow: auto;
  padding-bottom: 1px;
}


@import "footer";

@import 'Media';
